{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{% block title %} Главная {% endblock %} - Электронная доска объявлений </title>
</head>
<body>
<div class="container-fluid">
   <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3  bg-white border-bottom box-shadow">
       <h5 class="mr-md-auto p-2">Электронная доска объявлений</h5>

       {% if user.is_authenticated %}
       <div class="nav-item dropdown">
           <div class="dropdown-menu">
               <a class="dropdown-item" href="{% url 'app:profile' %}">Профиль</a>
               <a class="dropdown-item" href="{% url 'app:profile_change' user.id %}">Изменить личные данные</a>
               <a class="dropdown-item" href="{% url 'app:password_change' %}">Изменить пароль</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'app:logout' %}">Выйти</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'app:user_delete' %}">Удалить</a>
           </div>
       </div>
       {% else %}
       <a class="p-2 text-dark" href="{% url 'app:signup' %}">Регистрация</a>
       <a class="p-2 text-dark" href="{% url 'app:login' %}">Вход</a>
       {% endif %}
        </div>
   </div>
   <div class="row">
       <div class="container">
       {% block content %}
       {% endblock %}
       </div>
   </div>
</div>

</body>
</html>
